body {
  background-color: #111;
  margin: 0;
  padding: 0;
}

#app {
  canvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    // transform-origin: top left;
    // transform: scale3d(.5);
  }
}
