body {
  background-color: #111;
  margin: 0;
  padding: 0;
  color: #fff;
}

header.flimshaw {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;
  mix-blend-mode: screen;
  img {
    margin: 25px;
    width: 64px;
    height: 64px;
  }
}

#app {
  .shader {
    position: relative;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    h2 {
      position: absolute;
      top: 0;
      margin: 0;
      padding: 1em;
      box-sizing: border-box;
      z-index: 20;
    }
    canvas {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      position: absolute;
    }
  }
  .shaderCursor {
    width: 100vw;
    height: 100vh;
  }
  .debugger {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

}
