body {
  background-color: #111;
  margin: 0;
  padding: 0;
  color: #fff;
}

#app {
  canvas {
    width: 50vw;
    height: 50vh;
    float: left;
    // transform-origin: top left;
    // transform: scale3d(.5);
  }
}
